<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.primer.ipay88">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application>
        <activity
            android:name="io.primer.ipay88.api.ui.NativeIPay88Activity"
            android:exported="true"
            android:label=""
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar.FullScreen.IPay"
            tools:ignore="AppLinkUrlError">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="requestor.${applicationId}"
                    android:scheme="primer_ipay88" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ipay.IPayIHActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />

        <activity
            android:name="com.ipay.IPayIHAcitivityR"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
    </application>
</manifest>
